waf-*
.waf-*
.lock-*
build
*.pyc
*.xcodeproj
.cproject
.project
xskit.config
xskit.creator
xskit.files
xskit.includes
.settings
*.vcproj
*.vcxproj
*.vcxproj.*
*.sln
*.suo
*/gen/*
*classid.h
*.o
Default
pal/linux/Debug
*~
